.wrapper {
  min-height: 100vh;
}

.container {
  margin: 56px auto;
  width: 85%;
  /* background-color: red; */
}

.content {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 36px 48px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #008aff;
}

.mainContent {
  display: flex;
  gap: 24px;
}

.leftContent {
  flex: 1;
}

.rightContent {
  flex: 1;
}

.contentTitle {
  color: #008aff;
  font-weight: 700;
  font-size: 20px;
}

.desc {
  margin-bottom: 24px;
}

.backFill {
  text-decoration: none;
  border-radius: 8px;
  background-color: #008aff;
  color: #ffffff;
  font-weight: 600;
  margin-top: 36px !important;
  padding: 8px 16px;
}

.info {
  margin-bottom: 16px;
}

.infoText {
  display: flex;
}

.textTitle {
  flex: 1;
  margin-top: 8px;
}

.textDesc {
  flex: 2;
  margin-top: 8px;
}

.infoHasil {
  margin-bottom: 16px;
}

.infoHasilTitle {
  color: #008aff;
  margin-top: 16px;
  font-weight: 600;
}

@media (max-width: 1530px) {
  .textTitle {
    flex: 1;
  }
  .textDesc {
    flex: 1 !important;
  }
}

@media (max-width: 1128px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .textTitle {
    flex: 1;
  }

  .textDesc {
    flex: 2 !important;
  }
}

@media (max-width: 500px) {
  .infoText {
    flex-direction: column;
  }

  .textTitle {
    flex: 1;
  }

  .textDesc {
    flex: 2 !important;
  }
}
