.wrapper {
  min-height: 100vh;
}

.container {
  margin: 56px auto;
  width: 85%;
  /* background-color: red; */
}

.content {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 36px 48px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #008aff;
}

.mainContent {
  display: flex;
  gap: 24px;
}

.leftContent {
  flex: 1;
}

.rightContent {
  flex: 1;
}

.contentTitle {
  color: #008aff;
  font-weight: 700;
  font-size: 20px;
}

.desc {
  margin-bottom: 24px;
}

.backFill {
  text-decoration: none;
  border-radius: 8px;
  background-color: #008aff;
  color: #ffffff;
  font-weight: 600;
  margin-top: 36px !important;
  padding: 8px 16px;
}
